<!DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <p>You have received a message from the Dev Match site. The message is from <%= "#{ @name }, #{ @email }. " %></p>
        <p>The message reads: </p>
        <p><%= @body %></p>
    </body>
</html>